<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beds Available</title>
    <link rel="stylesheet" href="./css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
</head>
<body>
    <div class="navigator">
        <div class="icons_con">
            <a href='index.html'> <img src="./assets/dashboard.svg" > </a>
            <a class="active" href='beds.html'> <img src="./assets/bed.svg" > </a>
            <a href='doc.html'> <img src="./assets/doc.svg" > </a>
            <a href='dashboard.html'> <img src="./assets/patient.svg" > </a>
            <a href='medicine.html'> <img src="./assets/medicine.svg" > </a>
        </div>
    </div>

    <div class="content">
        <p class="header">Beds Available</p>
        <div class="options">
            <button class="active">All</button>
            <button>Floor I</button>
            <button>Floor II</button>
        </div>
        <div class="grid">
            <div class="card">
                <p class="beds">3 Beds Available</p>
                <p class="room">Room 32, Floor 2</p>
                <p class="name">Hospital Name</p>
                <p class="addr">Address</p>
                <a href="#">Visit</a>
            </div>
            <div class="card">
                <p class="beds">3 Beds Available</p>
                <p class="room">Room 32, Floor 2</p>
                <p class="name">Hospital Name</p>
                <p class="addr">Address</p>
                <a href="#">Visit</a>
            </div>
            <div class="card">
                <p class="beds">3 Beds Available</p>
                <p class="room">Room 32, Floor 2</p>
                <p class="name">Hospital Name</p>
                <p class="addr">Address</p>
                <a href="#">Visit</a>
            </div>
        </div>
    </div>
    
</body>
</html>