<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medicines</title>
    <link rel="stylesheet" href="./css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
</head>
<body>
    <div class="navigator">
        <div class="icons_con">
            <a href='index.html'> <img src="./assets/dashboard.svg" > </a>
            <a href='beds.html'> <img src="./assets/bed.svg" > </a>
            <a href='doc.html'> <img src="./assets/doc.svg" > </a>
            <a href='dashboard.html'> <img src="./assets/patient.svg" > </a>
            <a class="active" href='medicine.html'> <img src="./assets/medicine.svg" > </a>
        </div>
    </div>

    <div class="content">
        <p class="header">Medicines</p>

        <div class="search">
            <input type="text" placeholder="Search Medicine">
        </div>
        
        <div class="grid">
            <div class="med_card">
                <p class="name">Medicine Name</p>
                <p class="name2">Medicine Salt Name</p>
                <p class="stocks">Qty: 90pcs</p>
                <div class="in_stocks">In Stock</div>
            </div>
            <div class="med_card">
                <p class="name">Medicine Name</p>
                <p class="name2">Medicine Salt Name</p>
                <p class="stocks">Qty: 90pcs</p>
                <div class="in_stocks">In Stock</div>
            </div>
            <div class="med_card">
                <p class="name">Medicine Name</p>
                <p class="name2">Medicine Salt Name</p>
                <p class="stocks">Qty: 90pcs</p>
                <div class="in_stocks">In Stock</div>
            </div>
            <div class="med_card">
                <p class="name">Medicine Name</p>
                <p class="name2">Medicine Salt Name</p>
                <p class="stocks">Qty: 90pcs</p>
                <div class="in_stocks">In Stock</div>
            </div>
            <div class="med_card">
                <p class="name">Medicine Name</p>
                <p class="name2">Medicine Salt Name</p>
                <p class="stocks">Qty: 90pcs</p>
                <div class="in_stocks">In Stock</div>
            </div>
            <div class="med_card">
                <p class="name">Medicine Name</p>
                <p class="name2">Medicine Salt Name</p>
                <p class="stocks">Qty: 90pcs</p>
                <div class="in_stocks">In Stock</div>
            </div>
            <div class="med_card">
                <p class="name">Medicine Name</p>
                <p class="name2">Medicine Salt Name</p>
                <p class="stocks">Qty: 90pcs</p>
                <div class="in_stocks">In Stock</div>
            </div>
            <div class="med_card">
                <p class="name">Medicine Name</p>
                <p class="name2">Medicine Salt Name</p>
                <p class="stocks">Qty: 90pcs</p>
                <div class="in_stocks">In Stock</div>
            </div>
            <div class="med_card">
                <p class="name">Medicine Name</p>
                <p class="name2">Medicine Salt Name</p>
                <p class="stocks">Qty: 90pcs</p>
                <div class="in_stocks">In Stock</div>
            </div>
            <div class="med_card">
                <p class="name">Medicine Name</p>
                <p class="name2">Medicine Salt Name</p>
                <p class="stocks">Qty: 90pcs</p>
                <div class="in_stocks">In Stock</div>
            </div>
            <div class="med_card">
                <p class="name">Medicine Name</p>
                <p class="name2">Medicine Salt Name</p>
                <p class="stocks">Qty: 90pcs</p>
                <div class="in_stocks">In Stock</div>
            </div>
            <div class="med_card">
                <p class="name">Medicine Name</p>
                <p class="name2">Medicine Salt Name</p>
                <p class="stocks">Qty: 90pcs</p>
                <div class="in_stocks">In Stock</div>
            </div>
            <div class="med_card">
                <p class="name">Medicine Name</p>
                <p class="name2">Medicine Salt Name</p>
                <p class="stocks">Qty: 90pcs</p>
                <div class="in_stocks">In Stock</div>
            </div>
            
        </div>
    </div>

</body>
</html>